html {
    scroll-behavior: smooth;
}

body {
    background-color: #f5f3f4;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    color: black;
    font-size: 25px;
    font-family: roboto, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    height: 5em;
    background: linear-gradient(135deg, rgba(0, 0, 0, 0.814385150812065) 0%, rgba(0, 0, 0, 0.6979166666666667) 17%, rgba(0, 212, 255, 0) 100%);
    background-color: #415a77;
    transition: 500ms;
}

/* search search search search search search search search search search search */

#searchBig {
    margin: 50px 0 100px 0 !important;
    text-align: center;
    width: 100%;
    color: black;
    font-size: 3em;
}

#searchBig form {
    text-align: center;
}

#searchBig input {
    font-size: 0.4em;
    color: black;
    background: none;
    border-radius: 2em;
    padding-left: 0.5em;
    border-color: black;
}

#searchBig input::placeholder {
    color: grey;
}

#searchBig #logo {
    display: block;
    font-family: 'Lobster', cursive;
    font-size: 1em;
    text-decoration: none;
    color: black;
}

/* Genres Genres Genres Genres Genres Genres Genres Genres Genres Genres */
h2 {
    font-size: 3em;
    text-decoration: underline;
    text-align: center;
    width: 200px;
    margin: 0 auto;
    margin-bottom: 15px;
    font-family: 'Lobster', cursive;
}

#Genres {
    margin: 0 auto;
    width: 60%;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin-bottom: 50px;

}

#Genres a {
    text-align: center;
    line-height: 75px;
    width: 400px;
    height: 80px;
    font-size: 2em;
    margin-bottom: 15px;
    border: 1px solid black;
    background-color: #ffa600;
    border-radius: 25px;
    transition: 500ms;
}

/* fantacy */
#Genres a:nth-of-type(1):hover {
    background-image: url(/pictures/genresBackgrounds/fantacy.gif);
    background-size: cover;
    background-position: center;
}

/* scifi */
#Genres a:nth-of-type(2):hover {
    background-image: url(/pictures/genresBackgrounds/sci-fi.gif);
    background-size: cover;
    background-position: center;
}

/* mystery */
#Genres a:nth-of-type(3):hover {
    color: whitesmoke;
    background-image: url(/pictures/genresBackgrounds/mystery.gif);
    background-size: cover;
    background-position: center;
}

/* thriller */
#Genres a:nth-of-type(4):hover {
    color: whitesmoke;
    background-image: url(/pictures/genresBackgrounds/thriller.gif);
    background-size: cover;
    background-position: center;
}

/* romance */
#Genres a:nth-of-type(5):hover {
    background-image: url(/pictures/genresBackgrounds/romance.gif);
    background-size: cover;
    background-position: center;
}

/* westerns */
#Genres a:nth-of-type(6):hover {
    background-image: url(/pictures/genresBackgrounds/westerns.webp);
    background-size: cover;
    background-position: 0% 30%;
}

/* dystopian */
#Genres a:nth-of-type(7):hover {
    background-image: url(/pictures/genresBackgrounds/dystopian.gif);
    background-size: cover;
    background-position: center;
}

/* contemporary */
#Genres a:nth-of-type(8):hover {
    background-image: url(/pictures/genresBackgrounds/contemporary.gif);
    background-size: cover;
    background-position: 15% 15%;
}
/* footer footer footer footer footer footer footer footer footer footer footer footer footer footer */
footer {
    background: linear-gradient(135deg, rgba(0, 0, 0, 0.814385150812065) 0%, rgba(0, 0, 0, 0.6979166666666667) 17%, rgba(0, 212, 255, 0) 100%);
    background-color: #415a77;
    color: whitesmoke;
    padding:50px 0;
    border-top: #f5f3f4;
}

footer #about {
    font-size: 0.5em;
    width: 30%;
}

footer h2 {
    font-size: 2em;
}

footer .container {
    width: 90%;
    margin: 0 auto;
    display: flex;
}

footer .links{
    margin-left: 20px;
    display: flex;
    flex-direction: column;
}

footer .links h2{
    font-size: 1em;
}

#about {
    border-right: 1px solid white;
}

@media(max-width:1150px) {
    #Genres a {
        font-size: 1em;
        width: 250px;
    }
}

@media(max-width:500px) {
    #searchBig {
        font-size: 2em;
    }

    #Genres a {
        width: 400px;
        font-size: 1.5em;
    }
}

.hidden {
    display: none;
}