.cart {
    position: fixed;
    right: 15px;
    bottom: 15px;
    text-align: center;
    width: 90px;
    height: 90px;
    font-size: 2em;
    color: whitesmoke;
    background-color: crimson;
    border-radius: 50%;
    transition: 300ms ease-in-out;
    overflow: hidden;
    background-color: crimson;
    z-index: 999999;
}

.cartHeader {
    /* background: linear-gradient(135deg, rgba(0, 0, 0, 0.814385150812065) 0%, rgba(0, 0, 0, 0.6979166666666667) 17%, rgba(0, 212, 255, 0) 100%); */
    color: whitesmoke;
    background-color: crimson;
}

.hovering:hover .cartHeader {
    background-color: rgb(255, 27, 72);
    transition: 300ms;
}

.cart #cartIcon {
    cursor: pointer;
    margin-top: 25px;
    width: 70px;
    height: 70px;
}

.expand {
    width: 9em;
    height: 15em;
    border-radius: 50px;
    bottom: 15px;
    right: 15px;
    
}

#cartQuitButton {
    position: absolute;
    top: 30px;
    right: 30px;
    cursor: pointer;
}

#shoppingCart {
    border-top: 3px solid whitesmoke;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    padding: 0;
    width: 97%;
    height: 575px;
    text-align: left;
    overflow: scroll;
}

.cartItem {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    /* height: 200px; */
    margin-bottom: 5px;
    margin-right: 15px;
}

.cartItem img {
    margin: 15px 15px;
    width: 75px;
}

.cartItem .title {
    margin: 0;
    width: 125px;
    font-size: 0.4em;
    text-align: center;
    text-decoration: none;
}

.quantity {
    display: flex;
    justify-content: center;
    align-items: center;
}

.cartItem .quantity input {
    text-align: center;
    color: white;
    background: none;
    border: 1px solid whitesmoke;
    width: 30px;
    height: 28px;
    margin: 0%;
    padding: 0;

}


.cartItem .quantity button {
    height: 30px;
    width: 30px;
    margin: 0;
    padding: 0 10px;
    background: none;
    border: 1px solid whitesmoke;
    color: whitesmoke;

}

.cartItem .quantity button:nth-of-type(1) {
    border-bottom-left-radius: 15px;
    border-top-left-radius: 15px;
}

.cartItem .quantity button:nth-of-type(2) {
    border-bottom-right-radius: 15px;
    border-top-right-radius: 15px;
}

.cartItem .price {
    margin-left: 5px;
    font-size: 0.5em;
}

.cartItem .removeItemButton{
    font-size: 0.4em;
    color: whitesmoke;
    background: none;
    border: none;
    margin-left: 5px;
}

#shoppingCart::-webkit-scrollbar {
    width: 10px;
}

#shoppingCart::-webkit-scrollbar-track {
    border-radius: 10px;
}

#shoppingCart::-webkit-scrollbar-thumb {
    background: whitesmoke;
    border-radius: 10px;
}

#shoppingCart::-webkit-scrollbar-thumb:hover {
    background: #b30000;
}

::-webkit-scrollbar-corner {
    background: none;
}