/* carusel */
.carusel {
    margin: 0 auto;
    width: 83%;
    justify-content: flex-start;
    display: flex;
    height: 425px;
    overflow: hidden;
}

#next {
    background-color: rgba(0, 0, 0, 0.80);
    font-size: 45px;
    position: relative;
    z-index: 99 !important;
}

#prev {
    background-color: rgba(0, 0, 0, 0.80);
    font-size: 45px;
    position: relative;
    z-index: 99 !important;
}

#prev, #next {
    color: white;
    top: 250px;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    border: none;
    background: black;
    transition: 300ms;
}

.disabled {
    opacity: 70%;
}

#prev:hover, #next:hover {
    transform: scale(1.2);
}

/* carusel items */
#carusel-buttons {
    margin: 0 auto;
    width: 85%;
    display: flex;
    justify-content: space-between;
}

@font-face {
    font-family: 'SheilaCrayon';
    src: url("icons/SheilaCrayon-1vWg.ttf");
}


.caruselItem {
    min-width: 33%;
    min-height: 400px;
    font-family: 'SheilaCrayon',sans-serif;
    justify-content: space-between;
    color: white;
    border: 1px solid black;
    border-radius: 20px;
    background-image: url("/pictures/chalkboard.jfif");
    background-size: cover;
    position: relative;
    transition: 500ms;
}
.caruselItem div{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.caruselItem img {
    margin-left: 20px;
    margin-top: 10px;
    height:9em;
    border-radius: 10px;
}

.caruselItem div:hover{
    cursor: pointer;
}

.caruselItem h2 {
    font-size: 1.2em;
    font-weight: 400;
    max-width: 7em;
    text-align: center;
}

.caruselItem p {
    display: block;
    text-align: center;
    width: 90%;
    margin-left: 15px;
    font-size: 0.8em;
}

.caruselItem button{
    color: whitesmoke;
    font-size: 30px;
    position: absolute;
    top: 10px;
    right: 10px;
    width: 60px;
    height: 60px;
    background-color: crimson;
    border-radius: 50%;
    border: none;
}

.caruselItem button:hover{
    transform: scale();
}

.caruselItem button img{
    width: 90%;
    height: 90%;
    margin: 0;
}
@media(max-width:1400px){
    .caruselItem{
        min-width: 49.5%;
    }
}

@media(max-width:1150px) {
    .carusel {
        width: 100%;
    }

    #carusel-buttons {
        width: 100%;
    }
}

@media(max-width:800px){
    .caruselItem{
        min-width: 100%;
    }
}

@media(max-width:500px) {
    .carusel {
        overflow: scroll;
    }

    .caruselItem {
        min-width: 100%;
    }

    #prev, #next {
        background: none;
        font-size: 45px;
        border: none;
        pointer-events: none;
    }

    .carusel #prev:hover, .carusel #next:hover {
        font-size: 45px;
    }

    .disabled {
        opacity: 100%;
    }
}